* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  font-weight: bold;
  font-family: "Arial", sans-serif;
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
  background-image: url(../img/travel.webp);
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
  max-width: 1140px;
  padding-left: 25px;
  padding-right: 25px;
  margin-left: auto;
  margin-right: auto;
}

.visually-hidden {
  margin: -1px;
  padding: 0;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip: rect(0, 0, 0, 0);
  position: absolute;
}
